{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "proseWrap": "always",
    "arrowParens": "avoid",
    "importOrder": [
        "",
        "<BUILTIN_MODULES>",
        "^react/(.*)$|^react$",
        "^next/(.*)$|^next$",
        "<THIRD_PARTY_MODULES>",
        "",
        "^(lib|app)(/.*)$",
        "^[.]",
        "",
        ".css$"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
